---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import Content from "../components/Content.astro";
---

<Layout title="Felipe Rodriguez Astro">
  <main>
    <Heading title="About" text="Intento dar soluciones a problemas complejos a traves de soluciones sencillas " />
    <Content
      title="Sobre mí"
      description="En el ámbito del desarrollo, destaco en la creación de aplicaciones web CRUD y REST, utilizando lenguajes y herramientas adecuadas a las especificaciones del proyecto esto se traduce en la creación de componentes de acceso a datos altamente efectivos."
      date={null}
    />
  </main>
</Layout>

<style></style>
