---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro';
---

<Layout title="Felipe Rodriguez Astro">
  <main>
    <Heading 
      title={"About"} 
      text={"Intento dar soluciones sencillas a problemas complejos"}/>
  </main>
</Layout>

<style>

</style>
