---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import Content from "../components/Content.astro";
import ListBlogs from "../components/ListBlogs.astro";
---

<Layout title="Felipe Rodriguez Astro">
  <main>
    <Heading
      title={"Hola, soy Felipe 👋"}
      text={"Bienvenido! Aqui comparto mis ideas sobre ..."}
    />
    <Content
      title="Actualmente"
      description="Me encuentro trabajando en una empresa con sede en Barcelona, situada en él distrito 22@ ,work, fun and beer. 🍻 "
      date={null}
    />
    <div class="image">
      <div class="image-measure">
        <img src="/logos/distrito-noche.webp" alt="office" />
        <p class="figcaption">Torre Glòries, en el distrito 22@ de Barcelona.</p>
      </div>
    </div>
    <Content
      title="Blog"
      description="Mira mis ultimos post en mi blog personal"
      date={null}
    />
    <div class="publication">
      <ListBlogs
        title="Nuevos horizontes"
        date="Enero 29 2022"
        topic="Personal"
        url="/blog/personal/nuevos-horizontes"
      />
      <ListBlogs
        title="Hábitos atómicos"
        date="Enero 29 2022"
        topic="Libros"
        url="/blog/libros/habitos-atomicos"
      />
      <ListBlogs
        title="Antifrágil"
        date="Enero 5 2022"
        topic="Libros"
        url="/blog/libros/antifragil"
      />
      <ListBlogs
        title="Testing VoIP con SIPP"
        date="Diciembre 30 2022"
        topic="Tecnología"
        url="/blog/tecnologia/testing-voip-con-sipp"
      />
    </div>
  </main>
</Layout>

<style>
  .image-measure {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
  }

  img {
    height: 100%;
    margin: 1rem 0;
    object-fit: cover;
    width: 100%;
  }

  .figcaption {
    color: rgb(242, 247, 249);
    font-size: 0.8rem;
  }

  .publication {
    padding: 3.125rem 0 3.125rem 0;
  }

  @media (min-width: 768px) {
    .image-measure {
      padding: 0 2rem;
    }
  }

  @media (min-width: 1024px) {
    .image-measure {
      padding: 0 4rem;
    }
  }
</style>
