---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro';
import Grid from '../components/Grid.astro';
---

<Layout title="Felipe Rodriguez Astro">
  <main>
    <Heading 
      title={"Development"} 
      text={""}/>
    <!-- <Grid /> -->
  </main>
</Layout>

<style>

</style>
