---
import Img from "./Img.astro";

export interface Root {
  logos: Logo[];
}

export interface Logo {
  nombre: string;
  alt: string;
}

interface Props {
  logos: Logo[];
  title: string;
}

const { logos, title } = Astro.props;
---

<div class="content">
  <div class="content-measure">
    <div class="content-block">
      <div class="content-block1">
        <h2>{title}</h2>
        <div class="logo-container">
          {
            logos.map((logo) => {
              return <Img source={logo.nombre} description={logo.alt} />;
            })
          }
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .content {
    padding: 3.125rem 0;
    font-family: var(--default-font);
    color: var(--black-blue);
  }

  .content-measure {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .content h2 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
  }

  .logo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
  }

  @media (min-width: 768px) {
    .content {
      padding: 4.6875rem 0;
    }

    h2 {
      font-size: 2.5rem;
    }
  }

  @media (min-width: 1024px) {
    .content {
      padding: 6.25rem 0;
    }

    h2 {
      font-size: 3.125rem;
    }
  }
</style>
