---
import ButtonByDefault from "./ButtonByDefault.astro";
---

<header>
  <h1>Felipe Rodriguez</h1>
  <p>Software Engineer</p>

  <nav>
    <ButtonByDefault href="/">Home</ButtonByDefault>
    <ButtonByDefault href="about">About</ButtonByDefault>
    <ButtonByDefault href="contact">Contact</ButtonByDefault>
    <ButtonByDefault href="/Projects">Projects</ButtonByDefault>
  </nav>
</header>

<style>
  @font-face {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
  }

  header {
    align-items: center;
    color: var(--black-blue);
    display: flex;
    flex-direction: column;
    font-family: "Circular Std";
    font-size: 2em;
    justify-content: center;
  }

  h1 {
    font-size: 2.5rem;
    letter-spacing: -0.03em;
    line-height: 2.5rem;
    max-width: 62.5rem;
    padding: 1rem;
    word-break: break-word;
  }

  p {
    font-size: 1.375rem;
    line-height: 1.875rem;
    max-width: 62.5rem;
  }

  nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 62.5rem;
    padding: 1rem;
    width: 100%;
  }

  @media (min-width: 768px) {
    nav {
      flex-direction: row;
    }
  }

  @media (min-width: 1024px) {
    nav {
      padding: 2rem;
    }
  }
</style>
