---
console.log("Hello");
---

<header>
  <h1>Felipe Rodriguez</h1>
  <p>Software Engineer</p>

  <nav>
    <a href="/">Home</a>
    <a href="about">About</a>
    <a href="contact">Contact</a>
    <a href="/Projects">Projects</a>
  </nav>
</header>

<style>
  @font-face {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
  }

  header {
    align-items: center;
    color: var(--black-blue);
    display: flex;
    flex-direction: column;
    font-family: "Circular Std";
    font-size: 2em;
    justify-content: center;
  }

  h1 {
    font-size: 2.5rem;
    letter-spacing: -0.03em;
    line-height: 2.5rem;
    max-width: 62.5rem;
    padding: 1rem;
    word-break: break-word;
  }

  p {
    font-size: 1.375rem;
    line-height: 1.875rem;
    max-width: 62.5rem;
  }

  nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 62.5rem;
    padding: 1rem;
    width: 100%;
  }

  nav a {
    border: 2px solid var(--black-blue);
    border-radius: 5px;
    color: var(--black-blue);
    display: inline-block;
    font-size: 1.375rem;
    height: 3.125rem;
    line-height: 1.875rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition:
      color 0.3s,
      background-color 0.3s,
      border-color 0.3s;
    width: 9.375rem;
  }

  nav a:hover {
    background-color: var(--black-blue);
    border-color: var(--blue);
    color: #fff;
  }

  @media (min-width: 768px) {
    nav {
      flex-direction: row;
    }

    nav a {
      margin: 0 1rem;
    }
  }

  @media (min-width: 1024px) {
    nav {
      padding: 2rem;
    }

    nav a {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
</style>
