---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  // typeScript
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style is:global>

  :root {
    --black-blue: #05205c;
    --default-font: Circular Std, arial, sans-serif; 
    --white: rgb(242, 247, 249);
  }

  
  @media all {
    * {
      margin: 0;
      padding: 0;
    }

    html {
      height: 100vh;
    }

    body {
      border-top: 5px solid var(--black-blue);
      height: 100vh;
      min-width: 100%;
    }

    html {
      font-family: var(--default-font);
      background: skyblue;
      background-size: 224px;
      color-scheme: light;
      font-size: 100%;
      color: var(--black-blue)
    }
  }

  @font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-Book.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/Inter-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/Inter-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

</style>
